.carousel-item {
  position: relative;
}

.carousel-item img {
  height: 480px;
  object-fit: cover;
  width: 100%;
}

.carousel-caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    135deg,
    /* Dark navy with transparency */ /* Dark navy with transparency */
      rgba(43, 21, 19, 0.6),
    /* Green with transparency */ rgba(26, 26, 46, 0.8),
    /* Dark navy with transparency */ rgba(43, 21, 19, 0.6)
      /* Red with transparency */
  );
  opacity: 0.8;
  color: #ffffff;
  text-align: center;
  padding: 12px;
}

.carousel-caption::before {
  content: "";
  position: absolute;
}

.carousel-caption h3 {
  font-size: 2rem;
  font-weight: 700;
}

.carousel-caption p {
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .carousel-caption h3 {
    font-size: 1.3rem;
  }
  .carousel-caption p {
    font-size: 0.9rem;
  }
}

@media (max-width: 564px) {
  .carousel-caption p {
    font-size: 0.7rem;
    width: 284px;
  }
}

@media (max-width: 364px) {
  .carousel-caption h3 {
    font-size: 1.2rem;
  }
  .carousel-caption p {
    font-size: 0.7rem;
    width: 224px;
  }
}
