.footer-section {
  background-color: #323232;
  padding: 20px 0;
  border-top: 1px solid #474747;
  color: white; /* Font color updated */
}

.footer-section h5,
.footer-section h6 {
  color: white;
  font-size: 1.25rem; /* Reduced font size */
  margin-bottom: 1rem;
}

.footer-section p,
.footer-section a,
.footer-section ul li {
  color: white;
  font-size: 0.875rem; /* Reduced font size */
  text-align: left;
}

.footer-section a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-section a:hover {
  color: #ec2d24; /* Updated hover color */
}

.footer-section ul {
  list-style: none;
  padding-left: 0;
}

.footer-section ul li {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

.text-decoration-none {
  padding-left: 6px;
  display: flex;
  align-items: center;
}

.footer-section .fa {
  margin-right: 0.5rem;
  color: white; /* Icon color updated */
}

.footer-section .fa:hover {
  color: #ec2d24; /* Hover effect for icons */
}

.sec-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.buy-coffee-link {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 15px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #ec2d24; /* Ko-fi red color */
  border-radius: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.buy-coffee-link:hover {
  background-color: #ff5c5c; /* Lighter hover color */
  color: #ffffff;
  transform: scale(1.05);
  text-shadow: 0px 0px 10px rgba(255, 92, 92, 0.6);
}

@media (max-width: 768px) {
  .footer-section {
    text-align: center;
  }

  .footer-section .col-md-6 {
    margin-bottom: 1rem;
  }

  .footer-section ul li {
    justify-content: center;
  }

  .footer-section p,
  .footer-section a {
    text-align: center;
  }
}
